[customizations.installer.kickstart]
contents = """
rootpw --plaintext changeme
user --name=mx --groups=wheel --password=changeme --plaintext --gecos="MX User"

%post
bootc switch --mutate-in-place --transport registry ghcr.io/YOUR_GH_USERNAME/mx25-kde-bootc:latest
%end
"""

[customizations.installer.modules]
enable = [
  "org.fedoraproject.Anaconda.Modules.Storage",
  "org.fedoraproject.Anaconda.Modules.Runtime",
  "org.fedoraproject.Anaconda.Modules.Network",
  "org.fedoraproject.Anaconda.Modules.Security",
  "org.fedoraproject.Anaconda.Modules.Services",
  "org.fedoraproject.Anaconda.Modules.Users",
  "org.fedoraproject.Anaconda.Modules.Timezone"
]

disable = [
  "org.fedoraproject.Anaconda.Modules.Subscription",
]
